* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    background: rgb(0, 212, 255);
    background: linear-gradient(49deg, rgba(0, 212, 255, 1) 0%, rgba(251, 82, 131, 1) 100%);
    display: flex;
    justify-content: center;
    /* alinhaar no eixo principal */
    align-items: center;
    /* eixo secundario */
    height: 100vh;
    overflow-y: auto;
}

.container {

    width: 100%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
    /* overflow = tranbordar */
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    margin-top: 20px;
}

nav {
    width: 100%;
    text-align: right;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
}

.nav-link {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.nav-link:hover {
    color: #fb5283;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}

.column-1 {
    margin-left: 50px;
}

h2 {
    font-size: 54px;
}

h3 {
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0;
}

.column-1 p {
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}

h4 {
    font-size: 20px;
    color: #000;
    margin: 30px 0;
}

.buy {
    width: 140px;
    border: none;
    padding: 12px 10px;
    outline: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    background: linear-gradient(to right, #fb5283, #ff3527);
    z-index: 2;
    transition: all .5s  ease-in-out;

    
}

.buy img {
    width: 30px;
    display: none;
}
.buy:hover{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}

.buy:hover img{
    display: block;
}

.column-2 {
    display: flex;
    align-items: center;
    position: relative;
}

.motors {
    width: 90%;
    z-index: 2;
    animation: moveMotors 2s infinite alternate ease-in-out;
}

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to right, #ff54a2, #ff575a);
    height: 100%;
    width: 80%;
    border-radius: 20px 0 0 20px;
    z-index: 1;
    transform: translate(150px);
}

.add-cart {
    z-index: 2;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.add-cart img {
    height: 100%;
    width: 100%;
    max-width: 55px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-links img {
    height: 20px;
    margin: 20px;
    cursor: pointer;
}

.menu-icon {
    width: 25px;
    margin-top: 30px;
    display: none;
}




@media (max-width : 760px) {

    .container {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        overflow-y: auto;
    }

    .row {
        flex-direction: column-reverse;
    }

    .column-1 {
        display: flex;
        flex-direction: column;
    }
    
    h2{
        font-size:40px ;
    }

    h3{
        font-size: 25px;
    }

    .column-1 p {
        font-size: 22px;
    }


    .column-2 {
        margin-bottom: 30px;
    }

    #menu-list {
        position: relative;
        top: 65px;
        left: 65px;
        overflow: hidden;
        transition: all 0.8s  ease-in-out;
        cursor: pointer;

    }
    .color-box {
        transform: translate(70px);
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        margin-right: 30px;
    }
}

    .nav-li {
    margin-top:10px;
    }

    .nav-link{
        font-size: 15px;
    }

    .escolha-cor{
        z-index: 2;
        margin-top: 20rem;
    }

@keyframes oveMotors {
    from {
        transform: translate(-5%, -3%) rotate(-40deg);
    }
} 


